# Domaine Shopify (renomme-le quand tu auras branché ton vrai domaine)
NEXT_PUBLIC_SHOPIFY_DOMAIN=astratech-9955.myshopify.com

# Storefront API access token
# Shopify admin → Settings → Apps and sales channels → Develop apps
#   → Create an app → Storefront API → scopes :
#     unauthenticated_read_product_listings
#     unauthenticated_write_checkouts
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=colle_ton_token_ici
